---

import Main from '../components/Main.astro';
import Layout from '../layouts/Layout.astro';
import Home from './Home.astro';
import "../Styles/globles.css"
import Banner from './Banner.astro';
import MainMenu from './MainMenu.astro';

---

<Layout title="Welcome to my Portfolio.">
	<Main title="Home" >
		<Home/>
		<Banner/>
		<MainMenu/>
	</Main>
</Layout>

<style is:global>
 /* 1 General */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
            
            
            * {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }
            
            :root {
                /* Background Color */
                --primary-color: #ff451b;
                --secondary-color: #ffb324;
                --dark-color: #494b50;
                --bg-dark-gray: #5c5d64;
                --bg-black: #1d1b1b;
                --dark-light-color: #777a7f;
            
                /* Text Color */
                --primary-text: #ff451b;
                --text-white: #fff;
                --text-gray: #a7afbd;
            }
            
            body {
                font-family: 'Poppins', sans-serif !important;
                background-color: var(--bg-black) !important;
            }
			input[type=number]::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
            
            ::-webkit-scrollbar {
                width: 0.25rem;
            }
            
            ::-webkit-scrollbar-track {
                background: var(--bg-dark-gray);
            }
            
            ::-webkit-scrollbar-thumb {
                background: var(--primary-color);
            }

			
            .main-btn{
                color:var(--text-white);
                font-size:1rem;
                text-transform: uppercase;
                font-weight: 600;
				text-decoration: none;
                background-color:var(--primary-color);
                padding:.875rem 3.125rem;
                border-radius: .625rem;
                -webkit-transition:all .3s ease;
                -moz-transition:all .3s ease;
                -ms-transition:all .3s ease;
                -o-transition:all .3s ease;
                transition:all .3s ease;
            }
            .main-btn:hover{
                background-color:var(--secondary-color);
                color:var(--text-white);
            }

			 
            h1{
                font-size:6.25rem !important;
                font-weight: 700 !important;
                line-height: 1;
                margin-bottom:1.6875rem;
                color:var(--text-white);
            }
            h2{
                font-size:2.9375rem !important;
                font-weight: 700 !important;
                line-height: 1.3; 
                color:var(--text-white);
            }
            h3{
                font-size:1.875rem !important;
                font-weight: 700 !important;
                line-height: 1; 
                color:var(--primary-text);
            } 
            h5{
                font-size:1.375rem !important; 
                line-height: 1.5; 
                color:var(--text-gray);
            } 
            h6{
                font-size:.875rem !important; 
                line-height: 1.5; 
                color:var(--text-white);
                font-weight: 400 !important;
                opacity: .85;
            } 
            
            p{
                color:var(--text-gray);
                font-size: 1.125rem !important;
                line-height: 1.6;
                font-weight: 400 !important;
                margin:1.875rem 0;
            }
            span{
                color:var(--text-white);
                font-size: 1rem !important;
                font-weight: 600 !important;
            }
            a{
                font-size: 1.25rem !important;
                font-weight: 600 !important;
                line-height: 1.3;
                color:var(--text-white);
                text-decoration: none;
                cursor:pointer;
				
            }
            a:hover{
                color:var(--primary-text);
            }
            .icon_design{
                width:5.625rem;
                height:5.625rem;
                background-color:var(--secondary-color);
                border-radius: 100%;
                display:flex;
                align-items: center;
                justify-content: center;
            }

            /* Responsive */
            

            @media (max-width:1400px){
                /* 4.4 services */ 
                .sevices_wrapper h3{
                    font-size: 1.6rem;
                }
                .sevices_wrapper .card{
                    padding:2rem;
                }
             }
             @media (max-width: 1251px) {
             
                 /* custom css */ 
                 h1{
                     font-size: 4.375rem;
                 }
                 h2{
                     font-size: 2.1875rem;
                 }
                 h3{
                     font-size: 1.4375rem;
                 }
             
             
                 /* accordian */ 
                 .main_menu_wrapper .accordion-body{
                     padding:2.25rem;
                 }
             
                 /* about */ 
                 .about_wrapper .card_detail{
                     padding:.625rem;
                     top:1.75rem;
                 }
                 .about_wrapper .card_detail ul li{
                     padding:.3125rem 0;
                 }
             }
             
             @media (max-width:992px) {
             
                 /* custom css */
                 h1{
                     font-size: 3.125rem;
                     line-height: 1.3;
                 } 
                 h2{
                     font-size: 1.875rem;
                 }
                 h3{
                     font-size: 1.25rem;
                 }
                 a{
                     font-size: 1rem;
                 }
                 .icon-design{
                     width:4.625rem;
                     height:4.625rem;
                 } 
             
                 /* accordian */ 
                 .main_menu_wrapper .accordion-header .accordion-button{
                     line-height: 5.875rem;
                 }
                 .main_menu_wrapper .accordion-header .icon-box,
                 .main_menu_wrapper .accordion-header .accordion-button:after{
                     width:6rem;
                 }
             
                 /* service */ 
                 .sevices_wrapper .card{
                     padding:1.75rem 1.5rem;
                 }
             
                 /* testimonial */
                 .testimonial_wrapper .profile-box{
                     padding:1rem;
                 } 
                 .testimonial_wrapper .card{
                     padding:1.125rem;
                 }
                 .testimonial_wrapper .desc-box{
                     padding-left:1rem;
                 }
             }
             
             @media (max-width: 767px) {
             
                 /* custom css */ 
                 h1{
                     font-size: 1.875rem;
                 }
                 h2{
                     font-size: 1.25rem;
                 }
                 h3{
                     font-size: 1.125rem;
                 }
                 h5{
                     font-size: .9375rem;
                 }
                 p{
                     font-size: .875rem;
                 } 
             
                 /* resume */ 
                 .resume_wrapper .title h2{
                     font-size: 1.25rem;
                 }
                 .resume_wrapper h4{
                     font-size:1rem !important;
                 }
             }
             
             @media (max-width: 576px) {
             
                 /* custom css */ 
                 a{
                     font-size: .8125rem;
                 }
                 .main-btn{
                     padding:.5rem .75rem;
                     font-size: .8125rem;
                 }
             
                 /* 2 Navbar */ 
                 .header_wrapper .navbar-brand img{
                     max-width: 6.75rem;
                 }
             
                 /* banner */ 
                 .banner_wrapper .social-icon a img{
                     width:2.125rem;
                     height:2.125rem; 
                 }
             
                 /* accordian */ 
                 .main_menu_wrapper .accordion-header .accordion-button{
                     line-height: 3.875rem;
                 }
                 .main_menu_wrapper .accordion-header .icon-box,
                 .main_menu_wrapper .accordion-header .accordion-button:after{
                     width:4rem;
                 }
                 .main_menu_wrapper .accordion-header .icon-box img{
                     width:1.875rem;
                 }
                 .main_menu_wrapper .accordion-header .accordion-button:after{
                     background-size: 1.7rem;
                 }
                 .main_menu_wrapper .accordion-body{
                     padding:1.25rem;
                 }
             
                 /* resume */ 
                 .resume_wrapper .year span{
                     font-size: .875rem;
                     padding:.4375rem 1.875rem;
                     margin-top:1.25rem;
                     display:inline-block;
                 }
             
                 /* testimonial */ 
                 .testimonial_wrapper .carousel-indicators{
                     bottom:-1rem;
                 }
                 .testimonial_wrapper .profile-box{
                     text-align: center;
                     border-radius: .5rem 0.5rem 0 0;
                 } 
                 .testimonial_wrapper .card{
                     border-radius: 0 0 .5rem .5rem;
                 } 
                 .testimonial_wrapper .profile-box img{
                     width:100%;
                 }
             }
             
             @media (max-width: 490px) {
             
                 /* about */ 
                 .about_wrapper .accordion-body .card_img{
                     display:none;
                 }
                 .about_wrapper .card_detail{
                     position:unset;
                     width:100%;
                 }
             
                 /* portfolio */ 
                 .portfolio_wrapper .nav-link{
                     padding:0 .625rem;
                 }
                 .portfolio_wrapper .portfolio-img{
                     min-height: unset;
                 }
             }
      
			
</style>