---


interface Props {
	title: string;
	description?:string;
}

// const { title="My Persanol Porfolio" ,description="This is Created by Ali Aasadullah" } = Astro.props;

---


<!doctype html>
<html lang="en">
   
	<body>
		<slot>  </slot>

	</body>
   
</html>

